<h2>A Heritage of Flavor</h2>
<p>Here at Cthulhu's Bakery we pride ourselves at being the best we can be. We have a rich history that goes back centuries. Every cookie, cake and muffin are made with love, patience and a little bit of something special.</p>
<p>Over the course of the past couple years we have come to realize that online business is taking off. For that reason we are finally coming to the internet with our warm bakery treats and even warmer message. Bring forth your hunger and it shall be quenched.</p>
<p>C'thern is here for you.</p>
