<!DOCTYPE html>
<html id="page" class="cookieSite">
  <head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Hanalei+Fill" rel="stylesheet">
    <meta charset="utf-8">
    <title>Cthulhu's Cookies</title>
  </head>
  <body>
<section class="container">
<div class="header">
  <img id="logo" src="logoalt.png">
  <h1>Cthulhu's Cookies</h1>
  <div class="hide" id="shoppingCart">
    Current Items:
    <div id="cookieList"></div>
    <div id="cakeList"></div>
    <div id="muffinList"></div>
    <button onclick="showItemsInCart()">Show Items</button>
    <button onclick="clearCart()">Clear Cart</button>
  </div>
<button id="cartButton" onclick="showCart()"><i class="fas fa-shopping-cart"></i></button>
</div>
<div class="sideBar">
  <p>Navigation</p>
  <hr>
<a href="http://localhost:4567/"> Home </a><br>
<a href="http://localhost:4567/cookies"> Cookies </a><br>
<a href="http://localhost:4567/cakes"> Cakes</a><br>
<a href="http://localhost:4567/muffins"> Muffins </a><br>
<a href="http://localhost:4567/events"> Events Near You </a><br>
<a href="http://localhost:4567/contact_us"> Contact Us</a><br>
</div>
<div class="sideImage"></div>
<div class="mainContent">
  <%= yield %>
</div>
<div class="adPlace">
  <p>Advertise Here!</p>
  <img id="adImage" src="cookies.png">
  <p>Your cookies are safe with us ;)</p>
</div>
<div class="signup">
  <p>Don't wait, sign up for our amazing offers.</p>
  <form action="/signup" method="GET">
  First Name: <input type="text" placeholder="'John'"name="first_name"><br>
  Last Name: <input type="text" placeholder="'Smith'"name="last_name"><br>
  Email: <input type="email" placeholder="'john@smith.com'"name="email"><br>
  <input type="submit" value="Submit">
  </form>
</div>
<div class="footer">
<p>
  Cthulhu's Cookies, 123 Floral Lane, New York, NY 10001
</p>
<p>
Business Hours: Mon-Sat: 8am-5pm Sun: Closed.
</p>
<p>
  Web Design: Vents LLC
</p>

<i class="fab fa-facebook"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-twitter-square"></i>

</div>
  </section>
  </body>
  <script src="/main.js">

  </script>
</html>
