:root {
  --boxBack: rgba(130, 162, 149, .65);
  --boxShadow: 6px 6px 8px rgba(1,16,53,1);
  --borderBlueColor: 2px solid rgb(5,78,141);
  --textColor: rgb(225,235,230);
  --headerColor: rgba(144,255,175,1);
  /*this is how you do it.*/
}

.cookieSite {
  background-image: url("background.jpg");
  background-repeat: round;
  background-size: cover;
  color: var(--textColor);
  text-shadow: var(--boxShadow);
font-family: 'Dosis', sans-serif;
}

.praise {
  background-image: url("cthuluarms.jpg");
  background-repeat: round;
  background-size: contain;
  color: rgba(12,59,16,1);
  text-shadow: 4px 4px 8px rgba(183,229,106,.76);
font-family: 'Hanalei Fill', cursive;
}

.container {
  display: grid;
  grid-template: 10% 60% 15% 10%  / 11.5% 45% 40%;
  /* padding: 0.5%; */
  grid-gap: 1%;
}

.header {
  text-align: center;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border: 2px solid ;
  background-color: var(--boxBack);
  box-shadow: var(--boxShadow);
  padding-top: 1%;
  padding-bottom: 1%;
  border: var(--borderBlueColor);
  max-height: 100px;
  display: grid;
  grid-template: 100% / 25% 45% 20%;
  border-radius: 8px;
}

.header h1 {
font-size: 5vh;
grid-row: 1 / 2;
grid-column: 2 / 3;
margin-left: 35%;
color: var(--headerColor);
}

.header img {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  max-height: 100%;
  margin-left: 25%;
}

#shoppingCart {
  border: 2px solid white;
  width: 300px;
  height: 200px;
  position: absolute;
  left: 72%;
  top: 10%;
  background-color: rgba(0,0,0,.76);
  border-radius: 8px;
}

#cartButton {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  height: 50%;
  width: 25%;
  margin-left: 100%;
  font-size: 3vh;
  border-radius: 8px;
}

.show{
  visibility: visible;
}

.hide {
  visibility: hidden;
}
.sideBar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
  background-color: var(--boxBack);
  box-shadow: var(--boxShadow);
  border: var(--borderBlueColor);
  border-radius: 8px;
  margin-bottom: 1%;
}

.sideImage {
  background-image: url("logo.png");
  background-size: cover;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: var(--boxBack);
  box-shadow: var(--boxShadow);
  border: var(--borderBlueColor);
  border-radius: 8px;
  transition-duration: 2s;
}

.sideImage:hover {
  background-image: url("logo.png");
  background-size: contain;
  transition-duration: 2s;
}

.sideBar p {
  text-decoration: none;
  font-size: 2.25vh;
  color: var(--headerColor);
}

.sideBar a {
  text-decoration: none;
  color: var(--textColor);
  font-size: 2.25vh;
}


.mainContent {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  background-color: var(--boxBack);
  box-shadow: var(--boxShadow);
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  border: var(--borderBlueColor);
  border-radius: 8px;
}

.mainContent h2 {
  font-size: 4.5vh;
  color: var(--headerColor);
}

.mainContent img {
  height: 30vh;
  border-radius: 8px;
  box-shadow: var(--boxShadow);
}
.mainContent a {
  text-decoration: none;
  color: rgba(144,222,255,1);
}

#eventTime {
  font-size: 3vh;
}
.items {
background-color: rgba(0,105,122,.65);
border: 1px black solid;
max-width: 80%;
margin-left: 10%;
margin-bottom: 2%;
border-radius: 8px;
}

.adPlace {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border: 2px solid ;
  background-color: var(--boxBack);
  box-shadow: var(--boxShadow);
  padding-top: 1%;
  padding-bottom: 0;
  text-align: center;
  font-size: 3vh;
  border: var(--borderBlueColor);
  border-radius: 8px;
}

.adPlace img {
  height: 30%;
}
.signup {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  border: 2px solid ;
  background-color: var(--boxBack);
  box-shadow: var(--boxShadow);
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  border: var(--borderBlueColor);
  font-size: 3.75vh;
  border-radius: 8px;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  border: 2px solid ;
  background-color: var(--boxBack);
  box-shadow: var(--boxShadow);
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border: var(--borderBlueColor);
  border-radius: 8px;
  margin-bottom: 1%;
}

button {
  color: var(--textColor);
  background-color: black;
  box-shadow: 2px 2px rgba(0,0,0,.66);
  margin-bottom: 2%;
}

div input[type="submit"] {
  color: var(--textColor);
  background-color: black;
  box-shadow: 2px 2px rgba(0,0,0,.66);
    font-size: 2.25vh;
}

div input[type="text"] {
      font-size: 2.25vh;
}


div input[type="email"] {
  margin-left: 10.5%;
    font-size: 2.25vh;
}

div i {
  font-size: 4vh;
  padding-left: 2%;
}
